body {
    font-family: Arial,sans-serif;
    background-color: #f8f9fa;
}

.bg-pink {
 background-color: #e0218a;
}

.navbar-brand, .navbar-nav .nav-link {
    color:#fff;
    padding: 25px ;
}
.jumbotron {
    margin-top: 0;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    align-items: centerS;
    position: absolute;

}
.container-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 50px;
    color: #fff;
    z-index: 1;
    transition:top 0.3s ease;
 
}

#about{
    background-color: rgba(247, 225, 237, 0.6);
    padding: 50px 0;
    position: relative;
    width: 100%;
    margin-top: 35px;
    z-index: 0;
}
h2{
color: #e2228c;
}

.typed-header {
    font-size: 80px;

}

.fit-content {
    width: min-content;
}
.video-container {
    position: relative;
    width: 100%;
    overflow: hidden; 
    padding-top: 56.25%;
}
video {
    position: absolute;
    top: 0;
    left: 0;
   object-fit: cover; 
   width: 100%;
   height: 100%;
}
/* CyberTips Section Styles */
#cybertips {
    color: #101011; /* Text color */
    padding: 50px 0; /* Padding top and bottom */
}

#cybertips h2 {
    color: #ff0084; /* Header text color */
}

#cybertips p {
    font-size: 18px; /* Paragraph text size */
    margin-bottom: 20px; /* Margin below the paragraph */
}

#cybertips ul {
    list-style-type: disc; /* List item style */
    padding-left: 20px; /* Left padding for the list */
    font-size: 16px; /* List item text size */
}

#cybertips li {
    margin-bottom: 10px; /* Margin below each list item */
}

#cybertips a {
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

#cybertips a:hover {
    color: #FF4500; /* Change link color on hover */
}

/* Games Section Styles */
#games {
    background-color: #b2e9f9; /* Background color */
    color: #171515; /* Text color */
    padding: 50px 0; /* Padding top and bottom */
}

#games h2 {
    color: #ed197c; /* Header text color */
}

#games p {
    font-size: 18px; /* Paragraph text size */
    margin-bottom: 20px; /* Margin below the paragraph */
}

#games ul {
    list-style-type: none; /* Remove the default list style */
    padding-left: 0; /* Remove left padding for the list */
    font-size: 16px; /* List item text size */
}

#games li {
    margin-bottom: 10px; /* Margin below each list item */
}

#games a {
    color: #ff00a2; /* Link color */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

#games a:hover {
    color: #ff0062; /* Change link color on hover */
}
/* Home Section Styles */
#home {
    position: relative; 
    z-index: 2; 
    background-color: rgba(216, 34, 147, 0.6); 
    color: #fff; /* Text color */
    padding: 50px 0; /* Padding top and bottom */
}

#home h2 {
    font-size: 28px; /* Title font size */
    margin-bottom: 20px; /* Margin below the title */
}

#home p {
    font-size: 18px; /* Paragraph text size */
    margin-bottom:30px; /* Margin below the paragraph */
}

#home a.btn {
    background-color: #fb0e98; /* Button background color */
    color: #fff; 
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
    display: inline-block;
}
#home a.btn:hover{
    background-color:#ff0062;
}



