body {
    font-family: Arial,sans-serif;
    background-color: #f8f9fa;
}

.bg-pink {
 background-color: #e0218a;
}

.navbar-brand, .navbar-nav .nav-link {
    color:#fff;
    padding: 25px ;
}
.jumbotron {
    margin-top: 0;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    position: absolute;

}
.container-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    color: #fff;
   z-index: 1;
 
}

#about{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px 0;
    color: #fff;
    position: relative;
    width: 100%;
    margin-top: -50px;
}

.typed-header {
    font-size: 80px;

}

.fit-content {
    width: min-content;
}
.video-container {
    position: relative;
    width: 100%;
    overflow: hidden; 
    padding-top: 56.25%;
}
video {
    position: absolute;
    top: 0;
    left: 0;
   object-fit: cover; 
   width: 100%;
   height: 100%;
}

